@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff8ea;
    font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

p {
    margin-top: 2rem;
}
